{% load staticfiles %}
<!DOCTYPE html>
<html >
<head>
    <title>Catalog</title>
    <link rel="stylesheet" type="text/css" href="{% static "all.css" %}">
	 <meta http-equiv=Content-Type content="text/html;charset=UTF-8">
	  
	<script src="http://code.jquery.com/jquery-1.6.3.min.js"></script>
</head>
<body>
	<div class="header-wrap">
		<div id="header">
			<div class="header-holder">
				<div class="wrap">
					<ul id="nav" class="ddsmoothmenu">
						<li><a href="/"><span><em>Home</em></span></a></li>
						  {%  for category in categories %}
						<li><a href="/{{category.alias}}/"><span><em>{{category.name}}</em></span></a></li>
						{% endfor %}
						<li><a href="/order/"><span><em>Корзина</em></span></a></li>
						<li><a href="#"><span><em>Contacts</em></span></a></li>
					</ul>
				</div>
				<div class="form-wrap">
					 {% if error %}
        <p style="color: red;">Please submit a search term.</p>
		{% endif %}
					<form method="GET" action="/search/" class="search-form">
						<fieldset>
							<span class="text-wrap"><input type="text" class="text" placeholder="Start searching" name="q" /></span>
							<input type="submit" class="submit" value="Start searching..." />
						</fieldset>
					</form>
					<form action="#" class="login-form">
						<fieldset>
							<input type="button" class="button sign-up" value="Sign up" onclick="window.location.href='/register/'"/>
							<input type="button" class="button sign-in" value="Sign in" />
							<span class="text-wrap"><input type="text" class="text" placeholder="Password" /></span>
							<span class="text-wrap"><input type="text" class="text" placeholder="Login" /></span>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="intro-holder">
		<div class="intro-box">
			<div class="roundabout-holder large">
<ul id="myRoundabout">
	<li>
		<img src="{% static "images/img6.jpg" %}" alt="image description" width="100%"/>
		<div class="image">
			
		</div>
	</li>
	<li>
		<img src="{% static "images/img1.jpg" %}" alt="image description" width="100%"/>
		<div class="image">
			
		</div>
	</li>
	<li>
		<img src="{% static "images/img7.jpg" %}" alt="image description" width="100%"/>
		<div class="image">
			
		</div>
	</li>
</ul>
				<div class="controls">
					<a href="#" id="next">Next!</a>
					<a href="#" id="previous">Previous!</a>
				</div>
			</div>
		</div>
	</div></body>
</html>