{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html;charset=UTF-8">
    <title>Catalog</title>
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "all.css" %}">
</head>
<body>
    <div class="header-wrap">
		<div id="header2">
            <h1><a href="/">SHOP</a></h1>
			<div class="header-holder">
				<div class="wrap">
					<h1 class="logo"></h1>
					<ul id="nav" class="ddsmoothmenu">
					        {%  for category in categories %}
                            <li><a href="/{{category.alias}}/">{{category.name}}</a></li>
                            {% endfor %}
						<li><a href="/order/"><span>Корзина</span></a></li>
					</ul>
				</div>
				<div class="form-wrap">
				
					<form action="#" class="login-form">
						<fieldset>
							<input type="button" class="button sign-up" value="Sign up" onclick="window.location.href='/login/'"/>
							<input type="button" class="button sign-in" value="Sign in" />
							<span class="text-wrap"><input type="text" class="text" value="Password..." /></span>
							<span class="text-wrap"><input type="text" class="text" value="Login..." /></span>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
    <div class="wrapper">
        <div class="header"><h1>{{category.name}}</h1></div>
        <div class="body">
            <div class="left"></div>
                <div class="main">
                {% for tovar in tovars %}
                    <a class="item" href="/item/{{tovar.alias}}/">
                    <img src="{{tovar.image}}" alt="">
                    <span class="title">{{tovar.name}}</span>
                    <span class="price">{{tovar.price}} грн</span>
                {% endfor %}
                    </a>                
                </div>
        </div>
    </div>
</body>
</html>
    