{% load staticfiles %}
<!DOCTYPE html>
<html >
<head>
    <title>Catalog</title>
    <link rel="stylesheet" type="text/css" href="{% static "all.css" %}">
	<script src="http://code.jquery.com/jquery-1.6.3.min.js"></script>
	<script src="{% static "craftyslide.js" %}"></script>
</head>
<body>
	<div class="header-wrap">
		<div id="header">
			<div class="header-holder">
				<div class="wrap">
					<ul id="nav" class="ddsmoothmenu">
						<li><a href="/"><span><em>Home</em></span></a></li>
						  {%  for category in categories %}
						<li><a href="/{{category.alias}}/"><span><em>{{category.name}}</em></span></a></li>
						{% endfor %}
						<li><a href="/order/"><span><em>Корзина</em></span></a></li>
						<li><a href="#"><span><em>Contacts</em></span></a></li>
					</ul>
				</div>
				<div class="form-wrap">
					 {% if error %}
        <p style="color: red;">Please submit a search term.</p>
		{% endif %}
					<form method="GET" action="/search/" class="search-form">
						<fieldset>
							<span class="text-wrap"><input type="text" class="text" placeholder="Start searching" name="q" /></span>
							<input type="submit" class="submit" value="Start searching..." />
						</fieldset>
					</form>
					<form action="#" class="login-form">
						<fieldset>
							<input type="button" class="button sign-up" value="Sign up" onclick="window.location.href='/register/'"/>
							<input type="button" class="button sign-in" value="Sign in" />
							<span class="text-wrap"><input type="text" class="text" placeholder="Password" /></span>
							<span class="text-wrap"><input type="text" class="text" placeholder="Login" /></span>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>

	<div class="heading-box">
			<h2>Catalog</h2>
		</div>
<div class="wrapper">
	<ul class="gallery">
		{% for tovar in tovars %}
		<li>			 
			<h3><a href="/{{category.alias}}/">{{tovar.name}}</a></h3>
			<div class="product-holder">
			<div class="image">
				<a href="/item/{{tovar.alias}}/"><img class="large" src="{{tovar.image}}" alt="image description" width="180" height="91" /></a>
			</div>
			<div class="wrap">
				<span class="price">Цена(грн): {{tovar.price}}</span>
			</div>				
			</div>
		</li>
		{% endfor %}
	</ul>
</div>
</body>
</html>
    