body {
	margin:0;
	color:#545c5f;
	font:12px "Trebuchet MS", Helvetica, sans-serif;
	background:#dfe6e9;
	min-width:1000px;
}
img {
	border-style:none;
	display:block;
}
a {
	text-decoration:none;
	color:#b7b7b7;
	outline:none;
}

form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
q{quotes: none;}
q:before{content:"";}
q:after{content:"";}
.wrap{
	width:100%;
}
.wrap:after{
	content:"";
	display:block;
	clear:both;
}
/* header */
.header-wrap{
	background: url("images/bg-header02.png") repeat-x;
}
#header{
	background: url("images/bg-header.png") no-repeat 50% 0;
	height: 124px;
	position:relative;
	z-index:102;
}
.header-holder{
	width:900px;
	margin:0 auto;
	padding:23px 0 0;
}
.header-holder:after{
	content:"";
	display:block;
	clear:both;
}
#header .logo{
	float:left;
	margin:0 0 0 -1px;
	width: 102px;
	height: 30px;
	text-indent:-9999px;
	overflow:hidden;
}
#header .logo a{
	display:block;
	height:100%;
	background: url("images/logo.png") no-repeat;
}
.form-wrap{
	width:100%;
	overflow:hidden;
}
/* navigation */
#nav{
	list-style:none;
	margin:0 -8px 0 0;
	padding:0 0 13px;
	float:right;
	display:inline;
}
#nav li{
	float:left;
	padding:0 0 20px;
	position:relative;
	margin-right:8px;
}
#nav li:hover,
#nav .active{
	background: url("images/bg-nav-l.gif") no-repeat;
}
#nav li:hover{
	z-index:10;
}
#nav a{
	float:left;
	font-size:14px;
}
#nav li:hover a,
#nav .active a{
	background: url("images/bg-nav-r.gif") no-repeat 100% 0;
	text-decoration:none;
}
#nav .home{
	background: url("images/btn-home.gif") no-repeat;
	width: 27px;
	height: 25px;
	text-indent:-9999px;
	overflow:hidden;
	padding:0;
}
#nav li:hover .home,
#nav .active .home{
	background: url("images/btn-home.gif") no-repeat 0 -25px;
}
#nav a span{
	float:left;
}
#nav .with-drop span{
	background: url("images/arrow.png") no-repeat 100% 10px;
}
#nav a em{
	float:left;
	height:20px;
	padding:4px 10px 6px;
	color:#fff;
	cursor:pointer;
	font-style:normal;
	line-height:14px;
}
#nav .with-drop em{
	padding-right:22px;
}
#nav li:hover .with-drop em{
	background: url("images/arrow02.gif") no-repeat 49% 100%;
}
#nav .active .with-drop em{
	background:none;
}
#nav ul{
	position:absolute;
	top:49px;
	left:-38px;
	width:163px;
	display:none;
	list-style:none;
	margin:0;
	padding:1px 0 13px;
	background: url("images/bg-drop.png") no-repeat 0 100%;
}
#nav ul li{
	float:none;
	margin:0;
	padding:10px 0 0 16px;
	width:147px;
	vertical-align:middle;
}
#nav ul li:after{
	content:"";
	display:block;
	clear:both;
}
#nav li:hover li{background:none;}
#nav li li a,
#nav li:hover li a{
	color:#b7b7b7;
	background:none;
	display:block;
	font-size:12px;
	width:137px;
}
#nav ul li .with-drop{
	background: url("images/bg-arrow.png") no-repeat 100% 5px !important;
}
#nav ul li:hover .with-drop{
	background: url("images/bg-arrow02.png") no-repeat 100% 5px !important;
}
#nav li li a:hover{color:#fff;}
#nav ul ul{
	left:163px;
	top:-1px;
}
#nav li:hover li ul{
	visibility:hidden;
}
#nav li:hover li:hover ul{
	visibility:visible;
}
/* navigation end */
.search-form{
	float:left;
	width:274px;
}
.search-form .text-wrap{
	float:left;
	background: url("images/bg-input02.gif") no-repeat;
	width: 249px;
}
.search-form .text{
	float:left;
	margin:0;
	padding:4px 10px;
	height: 17px;
	border:0;
	background:none;
	width:229px;
}
.search-form .submit{
	float:left;
	background: url("images/bg-submit.gif") no-repeat;
	width: 25px;
	height: 25px;
	padding:0;
	border:0;
	cursor:pointer;
	letter-spacing:-1000px;
	font-size:0;
}
.login-form{
	float:right;
}
.login-form .button{
	float:right;
	width: 95px;
	height: 25px;
	margin-left:7px;
	padding:0;
	border:0;
	cursor:pointer;
	letter-spacing:-1000px;
	font-size:0;
}
.login-form .sign-up{background: url("images/btn-sign-up.png") no-repeat;}
.login-form .sign-in{background: url("images/btn-sign-in.png") no-repeat;}
.login-form .text-wrap{
	float:right;
	background: url("images/bg-input.gif") no-repeat;
	width: 112px;
	margin-left:7px;
}
.login-form .text{
	float:left;
	margin:0;
	padding:4px 10px;
	height: 17px;
	border:0;
	background:none;
	width:92px;
}

.txt {
	width: 300px;
	float: right;
	display: block;
	font-size: medium;
}




.wrapper {
	width: 1000px;
    margin: 0 auto;
}
.gallery{
	list-style:none;
	margin:0 -38px 0 0;
	padding:0;
	position:relative;
	z-index:2;
}

.gallery li{
	display:inline-block;
	width:197px;
	padding:0 37px 32px 0;
	vertical-align:top;
}
.gallery h3{
	margin:0;
	font-size:18px;
	line-height:22px;
	color:#2e3536;
	height:23px;
	overflow:hidden;
}
.gallery h3 a{color:#2e3536;}
.gallery h3 a:hover{text-decoration:none;}

.gallery .product-holder{
	background: url("images/bg-gallery-el.png") no-repeat;
	width: 180px;
	height: 118px;
	padding:9px 23px 0;
	position:relative;
	margin:0 -15px;
}
.gallery .image{
	width:100%;
	padding-bottom:4px;
	height:91px;
	overflow:hidden;
	position:relative;
}
.gallery .image .loader{
	margin:-2px 0 0;
}
.gallery .price{
	float:left;
	font-weight:bold;
	color:#323839;
	line-height:18px;
}



.heading-box:after{
	content:"";
	display:block;
	clear:both;
}
.heading-box h2{
	margin:0 24px 0 0;
	padding:10px 26px 18px 0;
	text-align: center;
	font-size:30px;
	line-height:40px;
	color:#2e3536;

}